{% extends "kadent/base.html" %}
{% load static %}

{% block content %}
<ul>
    {% for message in messages %}
    <li><h1>{{ message }}</h1></li>
    {% endfor %}
</ul>

<form id="fset" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ formset.management_form }}
    <!-- <label for="id_form-0-file">File:</label>
    <input type="file" name="form-0-file" accept="image/*" id="id_form-0-file">

    <label for="id_form-0-note">Note:</label>
    <textarea name="form-0-note" cols="40" id="id_form-0-note" rows="3"></textarea> -->

    <input type="file" name="form-0-file" accept="image/*" id="multiFileBtn" multiple>

    <input type="submit" value="Zapisz">
</form>
{% endblock content %}

{% block javascript %}
<script>
var multiFileBtn = document.getElementById('multiFileBtn');
var fset = document.getElementById('fset');

multiFileBtn.addEventListener('change', printFiles);

function printFiles(){
    // console.log(multiFileBtn);
    for (let i of multiFileBtn.files) {
        console.log(i);
        
        // create form element (label and input for 'Note' and 'File')
        var fileLabel = '<label for="id_form-0-file">File:</label>';
        var fileInput = document.createElement('INPUT');
        fileInput.outerHTML = '<input type="file" name="form-0-file" accept="image/*" id="id_form-0-file">';
        fileInput.type = 'file';
        var noteLabel = '<label for="id_form-0-note">Note:</label>';
        var noteInput = '<textarea name="form-0-note" cols="40" id="id_form-0-note" rows="3"></textarea>';
            
        // add file to fileInput
        fileInput.value = i;           
                
        // append inputs to formset
        fset.appendChild()
    }
}


</script>
{% endblock %}