{% extends "kadent/base.html" %}
{% load static %}

{% block content %}
<a href="{% url 'kadent:patient_edit' patient_id %}" class="float-right">
    <button class="btn btn-small btn-primary">Wróć do pacjenta</button>
</a>

<figure>
    <img src="{{ object.thumbnail.url }}" alt="{{ object.filename }}" height="200">
    <figcaption>{{ object.filename }}</figcaption>
</figure>

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Zapisz">
</form>
{% endblock content %}