{% extends "kadent/base.html" %}
{% load static %}

{% block content %}
{% for message in messages %}
    {{ message|safe }}
{% endfor %}

<a href="{% url 'kadent:patient_edit' patient_id %}" class="float-right">
    <button class="btn btn-small btn-primary">Wróć do pacjenta</button>
</a>

<form id="fset" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ formset.management_form }}
    <input type="file" name="images" accept="image/*" id="multiFileBtn" multiple>
    <div id="output"></div>

    <div id="commonNote">
        <label>Wspólna notatka do wszystkich obrazów:</label>
        <input type="text" name="commonNote">
    </div>
    <input id="formSubmit" type="submit" value="Zapisz">
</form>
{% endblock content %}

{% block javascript %}
<script>
var multiFileBtn = document.getElementById('multiFileBtn');
var fset = document.getElementById('fset');
var totalForms = document.getElementById('id_form-TOTAL_FORMS');
var output = document.getElementById('output');
var formSubmit = document.getElementById('formSubmit');
var commonNote = document.getElementById('commonNote');


multiFileBtn.addEventListener('change', ()=>{
    if (multiFileBtn.files.length > 1){
        commonNote.style.display = 'block'

    }
    totalForms.value = multiFileBtn.files.length;
    for (let f of multiFileBtn.files){
        var reader = new FileReader();
        reader.addEventListener("load", function () {
            var image = new Image();
            image.height = 100;
            image.title = f.name;
            image.src = this.result;

            var newDiv = document.createElement('DIV');
            if (f.size < 1024){
                newDiv.classList.add("alert");
                newDiv.classList.add("alert-danger");
                var sizeAlert = document.createElement('h3');
                sizeAlert.innerText = 'Rozmiar pliku to: {0}B, dopuszczalne rozmiary: 1 kB - 20 MB'.replace('{0}', f.size)
                newDiv.appendChild(sizeAlert);
                formSubmit.disabled = true;
            }
            var newFig = document.createElement('FIGURE');
            newFig.classList.add("d-inline-block");
            var newFigCaption = document.createElement('FIGCAPTION');
            newFigCaption.innerText = f.name;
            var newTextInput = document.createElement('INPUT');
            var hr = document.createElement('hr');

            newFig.appendChild(image);
            newFig.appendChild(newFigCaption);
            newDiv.appendChild(newFig)
            newDiv.appendChild(newTextInput)
            output.appendChild(newDiv);
            output.appendChild(hr);

        }, false);

        if (f) {
            reader.readAsDataURL(f);
        }
    }
});

multiFileBtn.addEventListener('click',()=>{
    output.innerHTML = '';
    formSubmit.disabled = false;
});

</script>
{% endblock %}