{% extends "kadent/base.html" %}
{% load static %}

{% block content %}
{% for message in messages %}
<h1>{{ message }}</h1>
{% endfor %}
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Zapisz">
</form>

<h2>Wizyty</h2>
<ul>
    {% for visit in visits %}
    <li>{{ visit.timestamp|date:'d.m.Y H:i' }}, {{ visit.note }}, doktor: {{ visit.doctor }}</li>
    {% empty %}
    Nie ma jeszcze wizyt
    {% endfor %}
</ul>

<h2>Obrazy</h2>
<ul>
    {% for image in images %}
    <li>
        <a href="{% url 'kadent:image_edit' image.id %}">{{ image.file.name }}</a>
         dodany: {{ image.uploaded_at|date:'d.m.Y H:i' }}. {{ image.note }}
    </li>
    {% empty %}
    Nie ma jeszcze obrazów
    {% endfor %}
</ul>

<a href="{% url 'kadent:image_create_from_patient' object.id %}">Dodaj obraz do pacjenta</a>
{% endblock content %}