{% extends "kadent/base.html" %}
{% load static %}

{% block content %}
{% for message in messages %}
    {{ message|safe }}
{% endfor %}
<form method="post">{% csrf_token %}
<p>
    <span>
    {{ form.first_name.errors }}
    {{ form.first_name.label_tag }}
    {{ form.first_name }}
    </span>
    <span>
        {{ form.last_name.errors }}
        {{ form.last_name.label_tag }}
        {{ form.last_name }}
    </span>
</p>
<p>
    {{ form.notes.errors }}
    {{ form.notes.label_tag }}
    {{ form.notes }}
</p>
<input type="submit" value="Zapisz zmiany">
</form>

<h3 class="text-center">Wizyty</h3>
<a href="{% url 'kadent:visit_create' object.id %}">
    <button class="btn btn-small btn-primary">Dodaj wizytę do pacjenta</button>
</a>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">czas</th>
            <th scope="col">notatka</th>
            <th scope="col">doktor</th>
        </tr>
    </thead>
    <tbody>
        {% for visit in visits %}
        <tr>
            <td><a href="{% url 'kadent:visit_edit' visit.id %}">{{ visit.timestamp|date:'d.m.Y H:i' }}</a></td>
            <td><a href="{% url 'kadent:visit_edit' visit.id %}">{{ visit.note }}</a></td>
            <td><a href="{% url 'kadent:visit_edit' visit.id %}">{{ visit.doctor }}</a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<hr>

<h3 class="text-center">Obrazy</h3>
<a href="{% url 'kadent:image_create_from_patient' object.id %}">
    <button class="btn btn-small btn-primary">Dodaj obraz do pacjenta</button>
</a>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">nazwa pliku</th>
            <th scope="col">dodany</th>
            <th scope="col">notatka</th>
            <th scope="col">dodany przez</th>
        </tr>
    </thead>
    <tbody>
        {% for image in images %}
        <tr>
            <td><a href="{% url 'kadent:image_edit' image.id %}">
                <img src="{{ image.thumbnail.url }}" alt="{{ image.filename }}" class="figure-img"> 
                </a>
            </td>
            <td><a href="{% url 'kadent:image_edit' image.id %}">{{ image.uploaded_at|date:'d.m.Y H:i' }}</a></td>
            <td><a href="{% url 'kadent:image_edit' image.id %}">{{ image.note }}</a></td>
            <td><a href="{% url 'kadent:image_edit' image.id %}">{{ image.uploaded_by }}</a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>


{% endblock content %}